//@import 'normalise.scss';
@import 'bootstrap.min';
@import 'materialdesignicons.min';
$light_blue: #03a9f4;
$dark-blue:#1976d2;
$triangle: 14px;
$transition: 0.2s all ease-in;
$radius: 3px;
body {
    color: #333333;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

a {
    color: #333333;
    &:hover {
        color: #ffffff;
        text-decoration: none;
    }
    &:focus {
        text-decoration: none;
        color: inherit;
    }
}

p {
    margin-bottom: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

i {
    transition: $transition;
}

h2 {
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
}

h3,
h5 {
    font-size: 12px;
    text-align: center;
    font-weight: 400;
    text-transform: none;
    &.heading_dark {
        color: #727272;
        &:after {
            content: "";
            width: 50px;
            height: 3px;
            display: block;
            background: $light-blue;
            margin: 10px auto;
        }
    }
    &.heading_bright {
        &:after {
            content: "";
            width: 50px;
            height: 3px;
            display: block;
            background: #ffffff;
            margin: 20px auto;
        }
    }
}

h3 {
    margin-bottom: 50px;
}

.heading_bright {
    color: #ffffff;
}

.heading_dark {
    color: #212121;
}

.primary_heading_dark {
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 500;
}

.secondary_heading_dark {
    color: #7a7a7a;
    font-size: 0.8em;
    font-weight: 300;
}

.contact {
    line-height: 1;
    i {
        font-size: 11px;
    }
}

.button {
    background: #2095f2;
    border: none;
    padding: 15px 30px;
    text-transform: uppercase;
    border-radius: 2px;
    line-height: 1;
    font-size: 11px;
    font-weight: 500;
    transition: $transition;
    color: #ffffff;
    &:hover {
        i {
            transform: translate(5px, 0);
        }
    }
    &>i {
        vertical-align: text-top;
        font-size: 11px;
        padding-left: 5px;
    }
}

.social_icon {
    text-align: center;
    a {
        color: #2095f2;
        padding: 3px 0 0 0;
        font-size: 14px;
        width: 27px;
        height: 27px;
        display: block;
        background: #ffffff;
        border-radius: 50%;
        transition: $transition;
    }
    a:hover {
        background: #ef5350;
        color: #ffffff;
    }
}

.minibar {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    background: $dark_blue;
    align-items: center;
    height: 50px;
    padding: 0 10px;
    font-size: 0.8em;
    span {
        display: flex;
    }
    li {
        display: inline-block;
    }
    .social_icon {
        margin: 0 2px;
    }
}

header {
    width: 100%;
    z-index: 10;
    position: absolute;
    .opened {
        max-height: 100%;
    }
}

.sticky {
    position: fixed;
    top: 0;
    .opened {
        height: calc(100% - 50px);
    }
}

.burger {
    margin-top: 5px;
    &.active {
        span {
            transition: $transition;
            transform: rotate(-45deg);
            top: 10px;
            &:after {
                opacity: 0;
            }
            &:before {
                transition: $transition;
                transform: rotate(90deg);
                top: 0;
            }
        }
    }
    cursor: pointer;
    width: 30px;
    height: 24px;
    span {
        transform-origin: center;
        height: 5px;
        display: block;
        width: 30px;
        top: 0px;
        position: relative;
        background: #333333;
        border-radius: $radius;
        transition: $transition;
        &:before {
            content: "";
            width: 30px;
            border-radius: $radius;
            transition: $transition;
            height: 5px;
            top: 8px;
            position: absolute;
            background: #333333;
        }
        &:after {
            border-radius: $radius;
            transition: $transition;
            content: "";
            width: 30px;
            height: 5px;
            top: 16px;
            position: absolute;
            background: #333333;
        }
    }
}

.logo_wrapper {
    background: #ffffff;
    border-bottom: 2px solid $light_blue;
    padding: 10px 10%;
    align-items: center;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.max-height {
    height: 100%;
}

nav {
    transition: $transition;
    max-height: 0;
    overflow: hidden;
    font-weight: 400;
    height: calc(100% - 50px);
    border-bottom: 2px solid $light-blue;
    ul {
        background: #ffffff;
        transition: $transition;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    li {
        width: 100%;
    }
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        &:hover {
            color: #f95d5a;
        }
    }
}

.logo {
    height: 25px;
}

.hero {
    background: url('../images/bg.jpg') no-repeat 50% 50%;
    background-size: cover;
    max-width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    padding: 5% 0;
    h1 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 2em;
        margin: .5em 0;
        span {
            color: #03a9f4;
        }
    }
    p {
        margin: 0 0 2.67em 0;
    }
}

.services {
    background: $dark-blue;
    overflow-x: hidden;
    li:nth-child(odd) {
        background: $dark-blue;
    }
    li:nth-child(even) {
        background: $light-blue;
    }
    .container {
        padding: 0;
    }
}

.service_list {
    display: flex;
    flex-wrap: wrap;
}

.service {
    height: 120px;
    width: 50%;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 0.9em;
    span {
        width: 110px;
        margin: 20px 0 0 0;
        font-size: 0.9em;
    }
}

.img_wrapper {
    align-items: flex-end;
    display: flex;
    img {
        height: 35px;
    }
}

#skills {
    background: url('../images/skills_bg.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
    .border {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        width: 127px;
        height: 127px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .play_button {
        background: #f0f0f0;
        width: 87px;
        height: 87px;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        .play {
            position: absolute;
            top: 30px;
            left: 40px;
            border-bottom: $triangle solid transparent;
            border-top: $triangle solid transparent;
            border-left: $triangle solid #f95d5a;
            width: 0;
            height: 0;
            border-right: $triangle solid transparent;
        }
    }
}

.project {
    margin: auto;
    padding: 15px;
    width: 33.3%;
    position: relative;
    &:hover .project_details {
        opacity: 1;
    }
}

.project_details {
    position: absolute;
    color: #ffffff;
    top: 15px;
    width: calc(100% - 30px);
    left: 15px;
    height: calc(100% - 30px);
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(3, 169, 244, 0.9);
    z-index: 1;
    border: 7px solid #ffffff;
    font-weight: 400;
    transition: $transition;
    p {
        margin-bottom: 0;
    }
    p:nth-of-type(2) {
        text-transform: none;
        font-weight: 300;
    }
    img {
        border-radius: 50%;
        margin-bottom: 20px;
    }
}

.portfolio {
    text-align: center;
    text-transform: uppercase;
    margin: 50px auto;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
    li > img {
        max-width: 100%;
        width: 100%;
        box-shadow: 0 1px 3px #ebebeb;
        height: auto;
        border: 7px solid #ffffff;
    }
}

.project_categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 2.5em 0;
    font-size: 0.8em;
    font-weight: 500;
    li {
        padding: 15px;
        line-height: 1;
        margin: 5px;
        border-radius: 5px;
    }
    li.button {
        padding: 15px 30px;
    }
    li:hover {
        background: #2095f2;
        cursor: pointer;
        & a {
            color: #ffffff;
        }
    }
    .button a {
        color: #ffffff;
    }
}

.offer_list {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.single_offer {
    display: flex;
    width: 33%;
    flex-direction: row;
    div {
        padding: 15px 0 15px 15px;
        margin: 15px 0;
    }
}

.offer_description {
    color: #777777;
    font-weight: 300;
}

.offer_heading {
    color: #333333;
    display: block;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: 500;
}

.team_members {
    display: flex;
    justify-content: center;
}

.carousel_item {
    &:hover {
        .team_picture {
            border-color: #ffffff;
        }
        .team_details {
            border-top: 1px solid #ffffff;
        }
        .team_socials {
            border-top: 1px solid #ffffff;
        }
    }
    background: #1f92ef;
    margin: 10px auto;
    width: 80%;
    box-shadow: 0 2px 3px #176dc2;
}

.face_wrapper {
    padding: 10%;
    height: 230px;
    margin: 10px 0;
}

.team_picture {
    transition: $transition;
    border: 10px solid $light-blue;
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

.team_details {
    transition: $transition;
    border-top: 1px solid #03a9f4;
    padding-bottom: 10%;
}

.team_socials {
    display: flex;
    transition: $transition;
    width: 200px;
    justify-content: center;
    margin: 0 auto 20px auto;
    margin: auto;
    border-top: 1px solid #03a9f4;
    .social_icon {
        a {
            margin: 0 3px;
            font-size:16px;
            background: transparent;
            color:#ffffff;
            &:hover{
                color:#ef5350;
            }
        }
        i{
            
        }
    }
}

#team {
    text-align: center;
    background: $dark-blue;
    padding: 5% 0 7% 0;
    p {
        color: #ffffff;
        text-transform: uppercase;
    }
    .active {
        .team_picture {
            border-color: #ffffff;
        }
        .team_details {
            border-top: 1px solid #ffffff;
        }
        .socials {
            border-top: 1px solid #ffffff;
        }
    }
    .name {
        font-size: 1em;
        padding-top: 10%;
        font-weight: 400;
    }
    .proffesion {
        padding-bottom: 5px;
        font-size: 0.8em;
        font-weight: 300;
        &:after {
            background: #ffffff;
        }
    }
    .indicators {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        li {
            height: 12px;
            width: 12px;
            cursor: pointer;
            background: #2095f2;
            margin: 0 5px;
            border: 2px solid #ffffff;
            border-radius: 50%;
            transition: $transition;
            &:hover {
                background: #ffffff;
            }
        }
        .active {
            background: #ffffff;
        }
    }
}

#fact {
    ul {
        display: flex;
        padding: 90px 0;
        justify-content: space-around;
        align-content: center;
        color: #1f1f1f;
        div {
            justify-content: center;
            line-height: 1;
            display: flex;
        }
        span {
            font-size: 1.5em;
            margin: 0 10px 10px;
            font-weight: 500;
        }
    }
    i {
        color: #ef5350;
    }
}

#testimontals {
    padding: 50px 0 280px 0;
    background: $dark-blue;
    text-align: center;
    color: #ffffff;
    i {
        box-shadow: 0 2px 3px #176dc2;
    }
}

.testimontal {
    padding: 10px 25px 10px 25px;
    position: absolute;
    border: 1px solid #ffffff;
    left: 50%;
    margin: 30px auto;
    width: 90%;
    transform: translate(-50%, 0);
}

.icon {
    box-shadow: 0 2px 3px #d5d5d5;
    border-radius: 50%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding-top: 5px;
    font-size: 20px;
    &:hover {
        background: #ef5350;
        color: #ffffff;
    }
}

.arrow_forward {
    background: $light-blue;
    padding: 7px 0 0 7px;
    color: #ffffff;
    font-size: 16px;
}

.left_arrow,
.right_arrow {
    background: #ffffff;
    color: $light-blue;
    position: absolute;
    left: -15px;
    top: calc(50% - 15px);
}

.right_arrow {
    left: auto;
    right: -15px;
    padding-left: 2px;
}

.clients_carousel {
    display: flex;
    justify-content: center;
    li {
        margin: 0 25px;
    }
    li:not(.active) {
        padding-top: 10px;
    }
    img {
        box-shadow: 0 2px 3px #176dc2;
        border-radius: 50%;
    }
}

.client_description {
    margin-top: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.client_proffesion {
    font-weight: 300;
}

#trusted_us {
//    width: 20%;
    margin: auto;
//    display: flex;
//    justify-content: space-around;
//    height: 150px;
//    overflow: hidden;
    .left_arrow,
    .right_arrow {
        background: $light-blue;
        //        position: relative;
        z-index: 5;
        &:hover {
            background: #ef5350;
        }
    }
    background: #f5f5f5;
    padding:50px;
    i {
        padding-left: 5px;
        color: #ffffff;
        box-shadow: 0 2px 3px #d5d5d5;
    }
}

.trusted_list {
    flex-wrap: wrap;
    display: flex;
//    position: relative;
//    left: 0;
    justify-content: space-around;
}

.trusted_item {
    margin: 10px auto;
//    width: 200px;
}

#pricing_table {
    padding: 100px 0;
    text-align: center;
    h4 {
        text-transform: uppercase;
        font-weight: 500;
    }
    h5 {
        font-weight: 300;
    }
}

.pricing_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &>li {
        width: 60%;
        position: relative;
        transition: $transition;
        box-shadow: 0 1px 4px #e8e8e8;
        margin: 20px;
        padding: 25px;
        &:hover {
            transform: scale(1.1);
            .button {
                background: #ef5350;
            }
            .help {
                border-color: #ef5350;
                &:before {
                    border-color: #ef5350;
                }
            }
        }
    }
}

.help {
    padding: 25px 0;
    color: #727272;
    font-weight: 300;
    font-size: 0.9em;
    &:before {
        border-top: 1px solid #f5f5f5;
        position: absolute;
        transition: $transition;
        content: "";
        width: 100%;
        left: 0;
        top: 180px;
    }
}

.price {
    padding: 20px 0;
    color: #2095f2;
    font-size: 21px;
    font-weight: 500;
    span {
        font-size: 12px;
    }
}

.img_responsive {
    max-width: 100%;
    height: auto;
}

.news_wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.news_thumbnail {
    position: relative;
}

.news {
    width: 70%;
    margin: 15px auto;
    box-shadow: 0 2px 3px #d5d5d5;
}

.news_overview {
    color: #777777;
    font-weight: 300;
    padding-bottom: 20px;
}

.news_heading {
    margin: 20px 0;
}

.news_container {
    padding: 15px;
}

#news {
    padding-bottom: 110px;
    .arrow_forward {
        position: absolute;
        top: auto;
        bottom: -15px;
        right: 15px;
    }
}

.newsletter_form {
    text-align: center;
    .button {
        border-radius: 25px;
        font-size: 0.9em;
        cursor: pointer;
        font-weight: bold;
        i {
            font-size: 1em;
            padding-top: 2px;
        }
    }
}

.input {
    padding-left: 20px;
    background: url('../images/mail.png') no-repeat 2px 6px transparent;
    border: none;
    color: #777777;
    border-bottom: 1px solid $light-blue;
    width: 500px;
    margin: 0 auto 60px auto;
    display: block;
}

input:focus {
    outline: none;
    input::placeholder {
        color: red;
    }
}

.newsletter {
    background: #f5f5f5;
    padding: 110px 15px;
}

footer {
    padding: 70px 0;
    background: $dark-blue;
    color: #ffffff;
    text-align: center;
    .socials {
        display: flex;
        justify-content: center;
        margin: 30px 0;
    }
    .social_icon {
        margin: 0 5px;
        box-shadow: 0 2px 3px #176dc2;
        border-radius: 50%;
    }
}

@media all and (max-width: 720px) {
    .hero {
        font-size: 0.7em;
        padding-top: 70px;
        height: 70vh;
        p,
        h1 {
            max-width: 70%;
        }
        h1 {
            font-size: 22px;
        }
    }
    .team_members {
        flex-direction: column;
        width: 80%;
        margin: auto;

    }
    .project {
        width: 50%;
    }
}

@media all and(min-width:599px) {
    .service {
        width: 33%;
        height: 150px;
    }
}

@media all and (max-width: 539px)
/*539px*/

{
    .input {
        width: 230px;
    }
    .button {
        padding: 10px 15px;
        font-size: 0.9em;
    }
    .minibar {
        display: none;
    }
    .offer_list {
        flex-direction: column;
    }
    .single_offer {
        width: auto;
    }
    #fact ul {
        padding: 50px 0 10px 0;
        flex-direction: column;
        justify-content: center;
        p {
            text-align: center;
            margin: 0 0 40px 0;
        }
    }
    .project {
        width: 100%;
    }
}


@media all and (min-width:540px) and (max-width: 979px) {

    .carousel_item{
        margin: 10px;
    }
    .testimontal {
        padding: 25px 45px;
    }
    .pricing_list {
        margin-top: 60px;
        flex-direction: row;
        &>li {
            width: 40%;
            margin: 20px;
        }
    }
    .news_wrapper {
        flex-direction: row;
    }
    .news {
        width: 45%;
        margin: 15px;
    }
    .single_offer {
        width: 50%;
    }
    header {
        height: auto;
    }
    nav li {
        line-height: 50px;
    }
}

@media all and(min-width:400px) and (max-width:774px) {
    .face_wrapper {
        height: 60%;
    }
    .carousel_item{
        margin: 10px auto;
    }
    

}
@media all and (orientation: landscape) {
    .hero {
        height: 80vh;
    }
}

@media all and (min-width: 980px) {
    .face_wrapper{
        margin: 0;
    }
    .carousel_item:not(.active) {
        .team_picture {
            margin-top: 20px;
        }
    }
    .carousel_item {
        margin: 10px;
        width: 30%;
    }
    #testimontals {
        padding: 120px 0 270px 0;
    }
    .testimontal {
        padding: 45px 60px;
        width: 100%;
    }
    .help {
        padding: 50px;
    }
    .news_wrapper {
        flex-direction: row;
    }
    .news {
        width: 30%;
    }
    .minibar {
        span {
            display: inline-flex;
        }
    }
    .face_wrapper {
        height: 70%;
    }
    header {
        height: auto;
    }
    .portfolio {
        margin: 110px auto;
    }
    .hero h1 {
        font-size: 2.5em;
    }
    .service {
        height: 200px;
    }
    .service_list {
        flex-wrap: nowrap;
        &:last-of-type {
            position: relative;
            &:after {
                content: "";
                position: absolute;
                background: $light-blue;
                width: 1000px;
                top: 0;
                height: 200px;
                left: auto;
                right: -999px;
            }
        }
    }
    .logo {
        height: 50px;
    }
    .hero {
        height: 790px;
    }
    .pricing_list {
        flex-direction: row;
        &>li {
            width: 30%;
            margin: 0 15px;
        }
    }
    .offer_list {
        margin: 100px 0;
    }
    .sticky {
        height: 80px;
        .opened {
            height: inherit;
        }
        li:last-of-type {
            top: 24px;
        }
    }
    .logo_wrapper {
        border: none;
        padding: 30px 0;
    }
    nav {
        max-height: inherit;
        li:last-of-type {
            text-indent: -10000px;
            background: url('../images/search_icon.jpg') no-repeat;
            min-width: 35px;
            height: 35px;
            top: 38px;
            position: relative;
            cursor: pointer;
            margin: 0;
            padding: 0;
        }
        .active {
            a {
                color: #f95d5a;
            }
            border-bottom: 3px solid #f95d5a;
        }
    }
    .minibar {
        padding: 0 100px;
    }
    header {
        padding: 0 5%;
        display: flex;
        background: #ffffff;
        justify-content: space-between;
    }
    nav {
        border: none;
        height: auto;
        ul {
            flex-direction: row;
            flex-wrap: nowrap;
        }
        li {
            margin: 0 30px 0 0;
            width: inherit;
        }
    }
    .burger {
        display: none;
    }
}