@import 'normalise.scss';
@import 'bootstrap.min';
$light_blue: #03a9f4;
$dark-blue:#1976d2;
$triangle: 14px;
$transition: 0.2s all ease-in;
body {
    color: #333333;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

a {
    color: #333333;
    &:hover {
        color: #ffffff;
        text-decoration: none;
    }
}

p {
    margin-bottom: 0;
}

ul {
    padding: 0;
    margin: 0;
}

i {
    transition: $transition;
}

li {
    list-style: none;
}

h2 {
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-size: 12px;
    text-align: center;
    font-weight: 400;
    text-transform: none;
    &.heading_dark {
        color: #727272;
        &:after {
            content: "";
            width: 50px;
            height: 3px;
            display: block;
            background: $light-blue;
            margin: 10px auto;
        }
    }
    &.heading_bright {
        &:after {
            content: "";
            width: 50px;
            height: 3px;
            display: block;
            background: #ffffff;
            margin: 20px auto;
        }
    }
}

.heading_bright {
    color: #ffffff;
}

.heading_dark {
    color: #212121;
}

.contact {
    line-height: 1;
    i {
        font-size: 11px;
    }
}

.button {
    background: #2095f2;
    border: none;
    padding: 15px 30px;
    text-transform: uppercase;
    border-radius: 2px;
    line-height: 1;
    font-size: 11px;
    font-weight: 500;
    color: #ffffff;
    &:hover {
        i {
            transform: translate(5px, 0);
        }
    }
    &>i {
        vertical-align: text-top;
        font-size: 11px;
        padding-left: 5px;
    }
}

.minibar {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    background: $dark_blue;
    align-items: center;
    height: 50px;
    padding: 0 10%;
    font-size: 0.8em;
    li {
        display: inline-block;
    }
    .social_icon {
        margin: 0 4px;
    }
}

header {
    display: flex;
    height: 110px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.burger {
    display: block;
    &.active {
        span {
            transition: $transition;
            transform: rotate(-45deg);
            top: 10px;
            &:after {
                opacity: 0;
            }
            &:before {
                transition: $transition;
                transform: rotate(90deg);
                top: 0;
            }
        }
    }
    cursor: pointer;
    width: 30px;
    height: 24px;
    span {
        transform-origin: center;
        height: 5px;
        top: 0px;
        position: relative;
        background: #333333;
        transition: $transition;
        &:before {
            content: "";
            width: 30px;
            transition: $transition;
            height: 5px;
            top: 8px;
            position: absolute;
            background: #333333;
        }
        &:after {
            transition: $transition;
            content: "";
            width: 30px;
            height: 5px;
            top: 16px;
            position: absolute;
            background: #333333;
        }
    }
}

nav {
    font-weight: 400;
    ul{
        
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background: #fff;
    }
    li {
        margin: 0 20px 0 0;
        a {
            border-bottom: 3px solid #ffffff;
            line-height: 107px;
            padding: 40px 0;
        }
    }
    li:last-of-type {
        text-indent: -10000px;
        background: url('../images/search_icon.jpg') no-repeat;
        width: 35px;
        height: 35px;
        top: 38px;
        position: relative;
        float: right;
        cursor: pointer;
        margin: 0;
        padding: 0;
    }
    li:hover a {
        color: #f95d5a
    }
    .active {
        a {
            color: #f95d5a;
        }
        border-bottom: 3px solid #f95d5a;
    }
}

.logo {
    height: 50px;
}

.hero {
    background: url('../images/bg.jpg') no-repeat 50% 50%;
    background-size: cover;
    height: 790px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    h1 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 2.5em;
        margin: .5em 0;
        span {
            color: #03a9f4;
        }
    }
    p {
        margin: 0 0 2.67em 0;
    }
}

#services {
    background: $dark-blue;
    position: relative;
    overflow-x: hidden;
    ul {
        display: flex;
        margin: 0;
        padding: 0;
        min-height: 200px;
    }
    li {
        flex: 1;
        color: #ffffff;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-transform: uppercase;
        font-size: 0.9em;
        div {
            //           height: 45px;
            justify-content: center;
            align-items: center;
            min-height: 45px;
            display: flex;
        }
        span {
            display: block;
            width: 70%;
            margin: 20px 0 0 0;
        }
    }
    li:nth-child(odd) {
        background: $dark-blue;
    }
    li:nth-child(even) {
        background: $light-blue;
    }
    li:last-of-type {
        position: relative;
        &:after {
            content: "";
            position: absolute;
            background: $light-blue;
            left: 180px;
            width: 110%;
            top: 0;
            height: 200px;
        }
    }
}

#skills {
    background: url('../images/skills_bg.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
    .border {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        width: 127px;
        height: 127px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .play_button {
        background: #f0f0f0;
        width: 87px;
        height: 87px;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        .play {
            position: absolute;
            top: 30px;
            left: 40px;
            border-bottom: $triangle solid transparent;
            border-top: $triangle solid transparent;
            border-left: $triangle solid #f95d5a;
            width: 0;
            height: 0;
            border-right: $triangle solid transparent;
        }
    }
}

#portfolio {
    text-align: center;
    text-transform: uppercase;
    margin: 110px auto;
    .categories {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2.5em 0;
        li {
            margin: 0 15px;
            font-size: 0.8em;
            font-weight: 500;
        }
    }
    .projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 60px;
        li {
            margin: auto;
            padding: 15px;
            width: 33.3%;
            position: relative;
            &:hover .project_details {
                opacity: 1;
            }
        }
        .project_details {
            position: absolute;
            color: #ffffff;
            top: 15px;
            width: calc(100% - 30px);
            left: 15px;
            height: calc(100% - 30px);
            display: flex;
            opacity: 0;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: rgba(3, 169, 244, 0.9);
            z-index: 1;
            border: 7px solid #ffffff;
            font-weight: 400;
            transition: $transition;
            p {
                margin-bottom: 0;
            }
            p:nth-of-type(2) {
                text-transform: none;
                font-weight: 300;
            }
            img {
                border-radius: 50%;
                margin-bottom: 20px;
            }
        }
        li > img {
            max-width: 100%;
            width: 100%;
            box-shadow: 0 1px 3px #ebebeb;
            height: auto;
            border: 7px solid #ffffff;
        }
    }
}

#offer {
    ul {
        margin: 100px 0;
        display: flex;
        flex-wrap: wrap;
        li {
            display: flex;
            width: 33%;
            flex-direction: row;
            div {
                padding: 15px 10px;
                margin: 15px 0;
            }
        }
    }
    p {
        color: #777777;
        font-weight: 300;
    }
    span {
        color: #333333;
        display: block;
        padding: 10px 0;
        text-transform: uppercase;
        font-weight: 500;
    }
}

#team {
    p {
        color: #ffffff;
        text-transform: uppercase;
    }
    .active {
        .team_details {
            border-top: 1px solid #ffffff;
        }
        .socials {
            border-top: 1px solid #ffffff;
        }
        img {
            //            margin-top: -18px;
        }
    }
    .carousel_item {
        background: #1f92ef;
        margin: 0 10px;
        box-shadow: 0 2px 3px #176dc2;
        &>div:nth-of-type(1) {
            padding: 15%;
            height: 70%;
        }
        img {
            border-radius: 50%;
            max-width: 100%;
            height: auto;
        }
    }
    .team_details {
        border-top: 1px solid #03a9f4;
        padding-bottom: 10%;
    }
    text-align: center;
    background: $dark-blue;
    padding: 5% 0 7% 0;
    .name {
        font-size: 1em;
        padding-top: 10%;
        font-weight: 400;
    }
    .proffesion {
        padding-bottom: 1%;
        font-size: 0.8em;
        font-weight: 300;
        &:after {
            background: #ffffff;
        }
    }
    ul {
        display: flex;
        max-height: 100%;
        justify-content: center;
    }
    .socials {
        width: 200px;
        margin: auto;
        border-top: 1px solid #03a9f4;
        li {
            a {
                width: 40px;
                display: inline-block;
                height: 33px;
            }
        }
    }
    .indicators {
        margin-top: 30px;
        li {
            height: 12px;
            width: 12px;
            cursor: pointer;
            background: #2095f2;
            margin: 0 5px;
            border: 2px solid #ffffff;
            border-radius: 50%;
            transition: $transition;
            &:hover {
                background: #ffffff;
            }
        }
        .active {
            background: #ffffff;
        }
    }
}

.facebook {
    //    background: url('../images/social_icons.png') no-repeat;
    //    background-position:  20px 0 ;
}

.twitter {
    //    background: url('../images/social_icons.png') no-repeat;
    //    background-position: -30px 0;
}

.dribble {
    //    background: url('../images/social_icons.png');
    //    background-position: -80px 0;
}

.Be {
    //    background: url('../images/social_icons.png');
    //    background-position: -120px 0;
}

.p {
    //    background: url('../images/social_icons.png');
    //    background-position: -167px 0;
}

#fact {
    ul {
        display: flex;
        padding: 90px 0;
        justify-content: space-around;
        align-content: center;
        color: #1f1f1f;
        
        div {
            justify-content: center;
            line-height: 1;
            display: flex;
        }
        span {
            font-size: 1.5em;
            margin: 0 10px 10px;
            font-weight: 500;
        }
    }
    i {
        color: #ef5350;
    }
}

#testimontals {
    padding: 120px 0;
    background: $dark-blue;
}

@media all and (max-width: 720px) {
    #team {
        ul:not(.socials) {
            flex-direction: column;
            li {
                margin: 10px 0;
            }
        }
    }
    #portfolio .projects {
        li {
            width: 50%;
        }
    }
}

@media all and (max-width: 540px) {
    #fact ul{
        padding: 50px 0 10px 0;
        flex-direction: column;
        justify-content: center;
        p{
            text-align: center;
            margin:0 0 40px 0;
        }
    }
    .minibar {
        padding: 0 10%;
    }
    #portfolio .projects {
        .project_details {}
        li {
            width: 100%;
        }
    }
}

@media all and (min-width: 1080px) {
    .minibar {
        padding: 0 100px;
    }
    header {
        padding: 0 100px;
    }
    nav {
        ul{
            flex-direction: row;
        }
        li {
            margin: 0 30px 0 0;
        }
    }
    .burger{
        display: none;
    }
}